<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Apply an Indicator to the Chart</h5>
        </div>
        <div class="modal-body">
            <!-- Indicator options and input fields go here -->
            <select id="indicatorType" class="form-control">
                <option disabled selected>Select an Indicator...</option>
            </select>
            <div id="parameterFields">
                <!-- Parameter fields will be dynamically populated based on the selected indicator -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="closePopup">Close</button>
            <button type="button" class="btn btn-primary" id="applySettings">Apply Settings</button>
        </div>
    </div>
</div>